@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f8fafc;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}
